name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
    - name: Azure Setup
      uses: azure/docker-login@v1
      with:
        login-server: idi2019.azurecr.io
        username: idi2019
        password: IAB70oHU0bJTNfDnHA/H4a/eVQTvky0M
        
    - name: Restore dependencies
      run: dotnet restore
      working-directory: ./GuestBookFront
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
     
